@import './variables.css';

/* Set the default typography for monospace elements */
tt,
code,
kbd,
samp,
pre {
  font-family: var(--jp-code-font-family);
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
}

.html-output {
  margin-left: 20px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.exercise {
  margin: 0;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: green;
}

.exercise_image {
  float: right;
  width: 75px;
}

.exercise_label {
  padding: 5px;
  border-radius: 5px;
  background-color: green;
  color: white;
}

table.keywords tr td code {
  background-color:transparent;
}

table.keywords tr td code.new {
  font-weight: bold;
}

table.keywords tr td code.known {
  background-color:lightgreen;
}