body.cms {
    background-color: white;
    margin: 30px;
    font-size: 14pt;
    min-width: initial;
    overflow-y: auto;
}

body.cms div.article-title {
    font-size: 25pt;
}

body.cms h1,
body.cms h2,
body.cms h3,
body.cms h4,
body.cms h5,
body.cms h6,
body.cms p {
    padding-top: 10px;
}

body.cms h1 {
    font-size: 20pt;
}

body.cms div.headers h1.site-name {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 650;
}

body.cms div.content {
    margin-top: 48px;
}


body.cms div.articles {
    width: 1069px;
    background-color: white;
    display: inline-block;
}

body.cms div.filters {
    width: 343px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    color: #1f1e1f;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 31px;
    margin-right: 52px;
}

body.cms div.filters div.filter {
    margin-bottom: 16px;
}

body.cms div.filters div.filter h3.filter-title {
    font-weight: 650;
    border-bottom: 2px solid #1f1e1f;
}

body.cms div.filters div.filter span.keyword,
body.cms div.filters div.filter span.author {
    display: block;
    padding: 4px 0;
    border-bottom: 1px solid #1f1e1f;
    cursor: pointer;
}

body.cms div.filters div.filter span.keyword.selected,
body.cms div.filters div.filter span.author.selected {
    background-color: #1f1e1f;
    color: white;
}



body.cms div.articles a.article {
    width: 343px;
    height: 294px;
    background-color: #f2f2f2;
    margin-right: 20px;
    margin-bottom: 56px;
    display: inline-block;
    border-radius: 12px;
    float: left;
    padding: 24px;
    color: black;
    position: relative;
}

body.cms div.keywords div.keyword {
    display: inline-block;
    height: 25px;
    border-radius: 20px;
    background-color: #a4fce2;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    text-transform: uppercase;
    color: #1f1e1f;
    font-size: 12px;
    padding: 10px 10px 0 10px;
    margin-right: 10px;
    margin-top: 4px;
    font-weight: bold;
}

body.cms div.articles a.article h1.article-title {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
}

body.cms div.articles a.article h3.article-updated {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 14px;
    margin-top: 20px;
}


body.cms div.articles a.article div.authors {
    position: absolute;
    bottom: 24px;
}

body.cms div.articles a.article div.authors div.author {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-left: 36px;
}

body.cms div.articles a.article div.authors::before {
    content: '●';
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 66px;
    color: #929092;
    position: absolute;
    top: -26px;
    left: -10px;
}

body.cms div.articles a.article div.authors:empty {
    display: none;
}
