# ----------------------- SFTP TEMPLATE BEGINS HERE -----------------------

[project]
name =

[source_get]
customize = False
request_type = {download_type}

[sftp]
host =
port =
user =
password =


;模板化解析,处理的是下载后的数据
[parse_init]
;default yestoday
date =
;default %Y-%m-%d
date_format =

[debug]
enable = 1

[file_out]
;下载文件名称
download_files =
;单个文件名称
;download_file_name =
load_file_minsize =
;下载目标路径(目录dir级别）；file_target_download_fpath文件级别；默认为 file_target_download_path + download_files
file_target_download_path =
file_target_download_fpath =
;实际下载目标路径(通常情况下挂载路径，在上报文件状态时需要实际路径）
;到目录；real_file_target_download_fpath 同上 file_target_download_fpath文件级别
real_file_target_download_path =
real_file_target_download_fpath =
;下载解压路径
file_unzip_out_path =
;下载原路径（通常是ftp）目录；load_file_from 默认为 load_dir_from + download_files
load_dir_from =
load_file_from =
;下载本地缓存路径（如有必要）
local_load_dir_cache =
# 对缓存文件的处理，会将缓存文件转存入 SOURCE_FILE_TARGET_DOWNLOAD_PATH，默认关闭  True or False
file_cache_copy_enable = False
# 对缓存文件的处理，会在程序结束时将缓存文件删除，默认关闭  True or False
file_cache_del_enable = False


;下载测试路径
file_load_test_path =

[email]
enable =
; 邮箱服务器
host =
; 发件人
from =
;发件用户名
user_name =
; 收件人
to =
; 抄送
cc =
; 标题的格式化
subject =
;文件提醒邮件，默认是打开 True or False
file_report = True
content =

[pipeline]
fr_enable =
redis_server_ip =
redis_server_port =
proxy_ip =
domain_name =
check_key =
project_name =
;path =
;key_head =

[tel]
enable =
;联系人
contacts =
;发起人
optname =

sub_data_type =
remind_info =
;模板目前固定为2
template_no = 2

status =
calltimes =
;用来记录打电话的备注，可为空
memo =

[redis]
enable =
host =
port =
load_db =
proxy_db =
password =

[mssqldb]
enable =
connect_url =
table =
;check_sql =

[mysql]
enable =
host =
;port 3306
;port = 3306
user =
password =
db =

connect_url =

source_get_sql =
source_get_sql_param =

[dpool]
enable =
jobctl_pool =
load_from_redis_enable =

[ldb]
enable = 0
target =
schema =

[airflow]
enable =
;项目名称
dag_id =

;dag_owner =

;#是否依赖于过去。如果为True，那么必须要前次的DAG执行成功了，此次的DAG才能执行。
;depends_on_past = False

;项目 标签（分类）,可多个;
;dag_tag=

;项目描述
;dag_description =

;调度时间 支持crontab时间格式
dag_schedule_interval =
dag_start_date =

;dagrun_timeout =

;dag_catchup=False #此参数和调度时间有关，是否从start_date 开始启动，默认False 会从当前时间开始

;邮件发送 默认为[email] to中所填
;dag_email_receivers=

;任务失败且重试次数用完时是否发送Email。
;email_on_failure = True

;任务重试时是否发送Email
;email_on_retry = False

; 失败重试次数
;retries = 1

; 失败重试间隔
;retry_delay = seconds:5

[source]
customize =
;是否检查输出的数据，打开会在初始检查是否已存在输出的数据
check_out_data =
;default yestoday
date =
;default %Y-%m-%d
date_format =
;默认为date的年份
;current_year =
;ftp & sftp & api_get (&api_get_file (该模式需设置对应的转存路径（local_load_dir_cache）和文件名称)) & db获取 (mysql,redis,mssql)
request_type =
;request_type :db获取的sql
sql =
sql_param =
sql_load_all = True
;reqest请求下载文件路径，通常场景是request请求后，下载转存为文件。默认为空即不需要下载转存，有值时为下载路径，支持直接路径全称也支持格式化{}，比如{source_file_target_download_fpath}
request_load_file_path =
request_timeout = 10
request_trynum = 3
need_ua = False
default_ua =
url_format =
;可直接指定变量用{}，也可直接填固定值
;url_params = size->{pagesize};page->{page};start_time->{url_source_date};end_time->{url_source_date};
url_params =
url_start_page =
url_stop_page_num =
url_pagesize =
request_auth_name =
request_auth_password =


;下载文件名称
download_files =
;单个文件名称
;download_file_name =
load_file_minsize =
;下载目标路径(目录dir级别）；file_target_download_fpath文件级别；默认为 file_target_download_path + download_files
file_target_download_path =
file_target_download_fpath =
;实际下载目标路径(通常情况下挂载路径，在上报文件状态时需要实际路径）
;到目录；real_file_target_download_fpath 同上 file_target_download_fpath文件级别
real_file_target_download_path =
real_file_target_download_fpath =
;下载解压路径
file_unzip_out_path =
;下载原路径（通常是ftp）目录；load_file_from 默认为 load_dir_from + download_files
load_dir_from =
load_file_from =
;下载本地缓存路径（如有必要）
local_load_dir_cache =
# 对缓存文件的处理，会将缓存文件转存入 SOURCE_FILE_TARGET_DOWNLOAD_PATH，默认关闭  True or False
;file_cache_copy_enable =
# 对缓存文件的处理，会在程序结束时将缓存文件删除，默认关闭  True or False
;file_cache_del_enable =


;下载测试路径
file_load_test_path =

sftp_host =
sftp_port =
sftp_user =
sftp_password =


ftp_ip =
ftp_port =
ftp_user_id =
ftp_user_password =

