:root {
    --color-brand: #{{ object.colour_brand }};
    --color-white: #{{ object.colour_white }};
    --color-dark: #{{ object.colour_dark }};
    --color-text: #{{ object.colour_text }};
    --color-gray: #{{ object.colour_grey }};
    --color-error: #{{ object.colour_error }};
    --color-success: #{{ object.colour_success }};
    --color-border: #{{ object.colour_border }};
    --bg-color: #{{ object.bg_colour }};
    --bg-gray: #{{ object.bg_grey }};
}
