@import './fonts.css';
@import './variables.css';

/* Set the default typography for monospace elements */
tt,
code,
kbd,
samp,
pre {
  font-family: var(--jp-code-font-family);
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
}

/* Menu */
#jp-top-panel {
  border-bottom: 1px solid var(--epistemix-night-3);
}

.lm-MenuBar.lm-mod-active .lm-MenuBar-item.lm-mod-active {
  background: var(--epistemix-night-4);
}

.lm-Menu {
  background: var(--epistemix-night-4);
  border-radius: var(--jp-border-radius);
  border-top-left-radius: 0;
  box-shadow: var(--epistemix-menu-shadows);
}

.lm-Menu-item.lm-mod-active {
  background: var(--epistemix-brand-2);
}

.lm-Menu-item[data-type='separator'] > div::after {
  border-top: 1px solid var(--epistemix-night-2);
}

/* Left Sidebar */
.jp-FileBrowser,
.jp-FileBrowser-toolbar,
.jp-DirListing-content,
.jp-RunningSessions,
.jp-TableOfContents,
.jp-extensionmanager-view,
.jp-extensionmanager-pending,
.jp-TableOfContents-content,
.jp-SideBar .lm-TabBar-tab.lm-mod-current,
.jp-SideBar .lm-TabBar-tab.lm-mod-current:hover {
  background: var(--epistemix-night-1);
}

.jp-SideBar.lm-TabBar.jp-mod-left .lm-TabBar-tab:not(.lm-mod-current) {
  opacity: 0.7;
}

.jp-InputGroup input {
  background: var(--epistemix-night-4);
  color: var(--epistemix-night-9);
  border-radius: var(--jp-border-radius);
  box-shadow: var(--epistemix-control-shadows);
}

.jp-InputGroup input:focus {
  box-shadow: var(--epistemix-control-shadows-focus);
}

.jp-InputGroup input::placeholder {
  color: var(--epistemix-night-9);
  opacity: 0.8;
}

/* File Browser */
.jp-FileBrowser-toolbar
  .jp-CommandToolbarButton:first-child
  button.jp-Button.bp3-button.bp3-minimal {
  opacity: 1;
  box-shadow: var(--epistemix-control-shadows);
}

.jp-FileBrowser-toolbar
  .jp-CommandToolbarButton:first-child
  button.jp-Button.bp3-button.bp3-minimal
  svg {
  width: 18px;
  height: 18px;
}

.jp-FileBrowser-toolbar.jp-Toolbar
  .jp-Toolbar-item:first-child
  .jp-ToolbarButtonComponent
  .jp-icon3 {
  fill: var(--epistemix-night-9);
}

.jp-FileBrowser-filterBox {
  overflow: initial;
}

.jp-DirListing-itemModified {
  color: var(--epistemix-night-5);
}

.jp-DirListing-item,
.jp-RunningSessions-item {
  opacity: 0.9;
}

.jp-DirListing-item:hover,
.jp-RunningSessions-item:hover {
  opacity: 1;
}

.jp-DirListing-item:hover:not(.jp-mod-selected) {
  background: transparent;
}

.jp-DirListing-item.jp-mod-selected {
  color: #fff;
}

.jp-DirListing-item.jp-mod-selected .jp-DirListing-itemModified {
  color: var(--epistemix-night-7);
}

.jp-DirListing-item.jp-mod-running.jp-mod-selected
  .jp-DirListing-itemIcon::before {
  color: var(--jp-success-color1);
}

/* Running Sessions */
.jp-RunningSessions-shutdownAll.jp-mod-styled {
  background: var(--epistemix-night-4);
  border-radius: var(--jp-border-radius);
}

.jp-RunningSessions-shutdownAll.jp-mod-styled:hover {
  background: var(--epistemix-night-4);
}

/* Table of Contents */
.toc-toolbar-icon {
  opacity: 0.8;
  transition: 0.2s;
}

.toc-toolbar-icon [fill] {
  fill: var(--epistemix-night-9);
}

[data-jp-theme-light='false'] .toc-toolbar-icon:hover {
  opacity: 1;
  background: none;
}

[data-jp-theme-light='false'] .toc-toolbar-icon-selected {
  background: var(--epistemix-night-4);
}

/* Extension Manager */
.jp-extensionmanager-view
  .jp-stack-panel-header
  .jp-extensionmanager-headerTextDisabled {
  color: var(--epistemix-night-7);
}

.jp-extensionmanager-view .jp-stack-panel-header > .jp-ToolbarButtonComponent {
  background: none;
}

.jp-extensionmanager-disclaimer-disable {
  box-shadow: var(--epistemix-control-shadows) !important;
}

.jp-extensionmanager-disclaimer-enable {
  box-shadow: var(--epistemix-control-shadows) !important;
}

/* Right Sidebar */
.jp-NotebookTools,
.jp-ActiveCellTool,
.jp-DebuggerSidebar,
.jp-PropertyInspector,
.jp-DebuggerSidebar > .jp-stack-panel-header {
  background: var(--epistemix-night-1);
}

.jp-DebuggerSidebar-body .jp-stack-panel-header,
.jp-DebuggerSidebar-body .jp-Toolbar {
  background: var(--epistemix-night-2);
}

.jp-Collapse-header {
  background: var(--epistemix-night-2);
}

.jp-Collapse-header:hover {
  background: var(--epistemix-night-2);
}

.jp-Collapse-contents {
  background: var(--epistemix-night-1);
}

.jp-SideBar .lm-TabBar-tab:not(.lm-mod-current) {
  opacity: 0.7;
}

.jp-Collapse {
  border: 0;
}

.CodeMirror.cm-s-jupyter {
  background: var(--epistemix-night-2);
}

button.jp-Button.bp3-button.bp3-minimal:not([disabled]),
button.jp-Button.bp3-button.bp3-minimal.jp-TableView:not([disabled]) {
  opacity: 0.8;
  transition: 0.2s;
}

button.jp-Button.bp3-button.bp3-minimal:hover,
button.jp-Button.bp3-button.bp3-minimal.jp-TableView:hover {
  background: none;
}

button.jp-Button.bp3-button.bp3-minimal:not([disabled]):hover,
button.jp-Button.bp3-button.bp3-minimal.jp-TableView:not([disabled]):hover {
  opacity: 1;
}

/* Main */
#jp-main-dock-panel {
  padding: 0;
}

.lm-DockPanel-tabBar
  .lm-TabBar-tab.lm-mod-closable.jp-mod-dirty
  > .lm-TabBar-tabCloseIcon
  > :not(:hover)
  > .jp-icon-busy[fill],
.jp-icon-hover :hover .jp-icon3-hover[fill] {
  fill: var(--epistemix-brand-1);
}

.lm-DockPanel-tabBar .lm-TabBar-tab {
  background: transparent;
}

.lm-DockPanel-tabBar .lm-TabBar-tab.lm-mod-current {
  background: var(--epistemix-night-3);
  border-top-left-radius: var(--jp-border-radius);
  border-top-right-radius: var(--jp-border-radius);
}

.lm-DockPanel-tabBar .lm-TabBar-tab.lm-mod-current::before {
  background: var(--epistemix-yellow);
}

.jp-HTMLSelect.jp-DefaultStyle select {
  color: var(--jp-inverse-layout-color3);
  opacity: 0.8;
  transition: 0.2s;
}

.jp-HTMLSelect.jp-DefaultStyle select:hover {
  background: none;
  color: var(--jp-inverse-layout-color3);
  opacity: 1;
}

.jp-NotebookPanel-toolbar {
  border-bottom: 1px solid var(--epistemix-night-0);
}

.jp-Notebook .jp-Cell.jp-mod-active .jp-Collapser {
  background: var(--epistemix-brand-2);
}

/* Footer */
#jp-bottom-panel {
  opacity: 0.55;
  transition: 0.2s;
}

#jp-bottom-panel:hover {
  opacity: 1;
}

.jp-switch[aria-checked='true'] .jp-switch-track {
  background-color: var(--epistemix-brand-2);
}

[name='lineColumnForm'] .lm-lineForm-wrapper {
  height: 24px !important;
  border: none !important;
  box-shadow: none !important;
}

[name='lineColumnForm'] input + div {
  width: 24px;
  height: 22px;
  padding: 0;
  top: 5px;
  right: 14px;
}

[name='lineColumnForm'] input + div svg {
  height: 12px;
}

/* Markdown */
.cm-s-jupyter span.cm-header-1 {
  color: var(--epistemix-yellow);
}

.jp-RenderedHTMLCommon h1 {
  font-family: 'Epistemix Headline', serif;
  font-weight: 400;
  color: var(--epistemix-yellow);
}

.jp-RenderedHTMLCommon h2 {
  font-family: 'Epistemix Headline', serif;
  font-weight: 300;
  color: var(--epistemix-brand-1);
}

.jp-RenderedHTMLCommon h3,
.jp-RenderedHTMLCommon h4,
.jp-RenderedHTMLCommon h5,
.jp-RenderedHTMLCommon h6 {
  font-family: 'Epistemix Text', serif;
  font-weight: 600;
  color: var(--epistemix-brand-1);
}

.jp-RenderedHTMLCommon a:link {
  text-decoration: underline;
}

.jp-RenderedHTMLCommon blockquote {
  background: var(--epistemix-night-3);
  padding: 1em 1em 0.01em;
  font-size: var(--jp-content-font-size2);
  font-style: italic;
  border-radius: var(--jp-border-radius);
}

.jp-RenderedHTMLCommon hr {
  border-color: var(--jp-mirror-editor-hr-color);
}

.jp-Notebook .jp-Cell {
  max-width: 780px;
  margin: 0 auto;
}

/* Code Editor */
.CodeMirror-lines {
  padding: var(--jp-code-padding);
}

.CodeMirror-scroll {
  margin-right: calc(var(--jp-code-padding) * -2);
}

.jp-InputArea-editor,
.jp-Notebook.jp-mod-editMode .jp-Cell.jp-mod-active .jp-InputArea-editor {
  border-width: 1px;
  border-radius: var(--epistemix-border-radius-2);
  box-shadow: none;
}

.jp-RenderedText[data-mime-type*='err'] {
  border: 1px solid rgba(235, 90, 54, 0.7);
  border-radius: var(--epistemix-border-radius-2);
  padding-bottom: var(--jp-code-padding);
}

/* Dialog */
.jp-Dialog-content {
  background: var(--epistemix-night-2);
  box-shadow: var(--epistemix-material-lower-shadows);
  border-radius: var(--epistemix-border-radius-2);
}

.jp-Dialog-body {
  background: var(--epistemix-night-2);
}

button.jp-mod-styled.jp-mod-accept {
  background: var(--epistemix-brand-2);
  box-shadow: var(--epistemix-control-shadows);
  outline: none !important;
}

button.jp-mod-styled.jp-mod-accept:hover {
  background: var(--epistemix-brand-2);
  opacity: 0.8;
}

button.jp-mod-styled.jp-mod-accept:focus {
  box-shadow: var(--epistemix-control-shadows-focus);
}

button.jp-mod-styled.jp-mod-warn {
  background: var(--epistemix-red);
  box-shadow: var(--epistemix-control-shadows);
  outline: none !important;
}

button.jp-mod-styled.jp-mod-warn:hover {
  background: var(--epistemix-red);
  opacity: 0.8;
}

button.jp-mod-styled.jp-mod-warn:focus {
  box-shadow: var(--epistemix-control-shadows-focus);
}

button.jp-mod-styled.jp-mod-reject {
  background: var(--epistemix-night-4);
  box-shadow: var(--epistemix-control-shadows);
  outline: none !important;
}

button.jp-mod-styled.jp-mod-reject:hover {
  background: var(--epistemix-night-4);
  opacity: 0.8;
}

button.jp-mod-styled.jp-mod-reject:focus {
  box-shadow: var(--epistemix-control-shadows-focus);
}

/* Misc */
[disabled] {
  opacity: var(--epistemix-disabled-opacity);
}

.jp-icon-contrast0[fill] {
  fill: var(--epistemix-night-9);
}

.jp-switch-track {
  background: var(--epistemix-night-4);
  box-shadow: var(--epistemix-control-shadows);
  width: 30px;
}

.jp-switch-track::before {
  background: var(--epistemix-night-7);
  margin: 2px;
  height: 12px;
  width: 12px;
}

.jp-switch[aria-checked='true'] .jp-switch-track::before {
  left: 14px;
}

.tag {
  border-radius: var(--epistemix-border-radius-0);
  background: var(--epistemix-night-7);
  border: 0;
  color: var(--epistemix-night-1);
  box-shadow: var(--epistemix-control-shadows);
}

.tag .jp-icon3[fill] {
  fill: var(--epistemix-night-1);
}

.add-tag {
  background: var(--epistemix-night-7);
  color: var(--epistemix-night-1);
}

.jp-select-wrapper {
  background: none;
  padding: 2px;
  height: 34px;
}

.jp-select-wrapper svg {
  top: 8px;
}

.jp-select-wrapper.jp-mod-focused select.jp-mod-styled {
  box-shadow: var(--epistemix-control-shadows-focus);
}

select.jp-mod-styled {
  border-radius: var(--jp-border-radius);
  box-shadow: var(--epistemix-control-shadows);
}

select.jp-mod-styled:focus {
  box-shadow: var(--epistemix-control-shadows-focus);
}
